<div *ngIf="user" class="container-fluid bg-dark">
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="col text-white text-center">Doctor Dashboard</h3>
        </div>
        <div *ngIf="user.active; else elseBlock">
            <div class="row justify-content-end">
                <a href="/view-doctor-appointments"class="col btn btn-primary btn-lg">View Appointments</a>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="alert alert-warning" role="alert">
                <p>Your account is awaiting approval from the Administrator<p>
              </div>
              <div class="row justify-content-end">
                <button routerLink="/prescription"class="col btn btn-primary btn-lg" disabled>Veiw Appointments</button>
            </div>
        </ng-template>
        <div class="row p-3 justify-content-end">
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<div *ngIf="errors === true">
    <app-sign-in></app-sign-in>
</div>