<div class="bg-dark">
  <div class="text-light text-center">
    <h2>Sign-in to your MyCheckUP Account</h2>
  </div>
  <form class="border border-secondary border-5" action="#" method="post">
    <div class="container">
      <label class="text-light" for="uname"><b>Username</b></label>
      <input
        class="bg-light"
        type="text"
        placeholder="Enter Username"
        name="uname"
        required
      />

      <label class="text-light" for="psw"><b>Password</b></label>
      <input
        class="bg-light"
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
      />

      <button type="submit">Login</button>
      <label class="text-light">
        <input type="checkbox" checked="checked" name="remember" /> Remember me
      </label>
    </div>

    <div class="container bg-secondary text-light">
      <button  routerLink="/" routerLinkActive="active" type="button" class="cancelbtn">Cancel</button>
      <span class="psw"
        >Forgot <a href="#" class="text-info">password?</a></span
      >
    </div>
  </form>
</div>
