<div class="bg-dark">
  <br>
  <div class="text-light text-center">
    <h2>Sign-in to your MyCheckUP Account</h2>
  </div>

  <div *ngIf="loginFail" class="alert alert-danger" role="alert">
    An error occured! {{message}}
  </div>
  <br>
  <form ngNativeValidate #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="p-3" action="#" method="post">
    <div class="container text-light">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md col-lg-7">
            <div class="form-group">
              <label class="text-light" for="email"><b>Email</b></label>
              <input ngModel class="form-control" type="email" placeholder="Enter Email Address" name="email"
                required />
            </div>
            <div class="form-group">
              <label class="text-light" for="psw"><b>Password</b></label>
              <input ngModel class="form-control" type="password" placeholder="Enter Password" name="psw" required />
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="form-check form-check-inline">
            <input ngModel class="form-check-input" type="radio" name="role" id="patientRadio" value="patient">
            <label class="form-check-label" for="patientRadio">Patient</label>
          </div>
          <div class="form-check form-check-inline">
            <input ngModel class="form-check-input" type="radio" name="role" id="doctorRadio" value="doctor">
            <label class="form-check-label" for="doctorRadio">Doctor</label>
          </div>
          <div class="form-check form-check-inline">
            <input ngModel class="form-check-input" type="radio" name="role" id="adminRadio" value="admin">
            <label class="form-check-label" for="adminRadio">Administrator</label>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <label class="text-light">
          <input type="checkbox" checked="checked" name="remember" /> Remember me
        </label>
      </div>
      <div class="row justify-content-center">
        <span class="psw">Forgot <a href="#" class="text-info">password?</a></span>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-md col-lg-7">
          <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
          <button routerLink="/" type="button" class="cancelbtn btn-danger btn-block">Cancel</button>
        </div>
      </div>
    </div>

    <div class="container bg-secondary text-light">
    </div>
  </form>
</div>