<div *ngIf="user" class="bg-dark">
    <br>
    <div class="row justify-content-center">
        <h3 class="col text-white text-center">Self-Assessment</h3>
    </div>
    <br>
    <div class="container alert alert-warning text-center" role="alert">
        Warning! Leaving this page without submiting a self-assessment will cancel the current appointment.
    </div>
    <form ngNativeValidate #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)" class="p-3" action="#" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card border-primary rounded bg-light">
                        <div class="card-header border-dark">
                            <h5 class="card-subtitle">Appointment Summary</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Date: {{appointment.date}}</h4>
                            <div class="row align-items-center">
                                <div class="col-sm">
                                    <p><b>Start Time: </b>{{appointment.startTime.slice(0, -3)}}</p>
                                    <p><b>End Time: </b>{{appointment.endTime.slice(0, -3)}}</p>
                                </div>
                                <div class="col-sm">
                                    <p><b>Status: </b>{{appointment.status}}</p>
                                    <p><b>Notes: </b>{{appointment.doctorNotes}}</p>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="card-footer">
                            <h6>Selected Doctor</h6>
                            <div class="row align-items-center">
                                <div class="col-sm">
                                    <p><b>Name: </b>{{doctor.firstName}} {{doctor.lastName}}</p>
                                    <p><b>Email: </b>{{doctor.email}}</p>
                                    <p><b>License: </b>{{doctor.license}}</p>
                                </div>
                                <div class="col-sm">
                                    <p><b>Title: </b>{{doctor.title}}</p>
                                    <p><b>Specialty: </b>{{doctor.specialty}}</p>
                                    <p><b>Phone Number: </b>{{doctor.phoneNumber}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group text-light">
                        <label for="symptom">Select all symptoms you are experiencing:</label> <br>
                        <div>
                            <select ngModel multiple class="form-control" name="symptomsSelected" id="symptomsSelected"
                                size="15" [(ngModel)]="symptomsSelected">
                                <option *ngFor="let symptom of symptoms" value="{{symptom.id}}">{{symptom.description}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="form-group text-light">
                        <label for="note">Additonal details for the Doctor</label> <br>
                        <textarea required ngModel class="form-control" name="note" cols="80" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="success" class="alert alert-success text-center" role="alert">
                {{message}}
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <button class="btn btn-success btn-lg btn-block text-center" type='submit'>Submit & Confirm
                        Appointment</button>
                    <button routerLink="/dashboard" type="button" class="cancelbtn btn-block btn-danger">Cancel
                        Appointment</button>
                </div>
            </div>
        </div>
        <br>
    </form>
</div>
<div *ngIf="errors === true">
    <app-sign-in></app-sign-in>
</div>