<div class="container-fluid bg-dark">
    <br>
    <div>
        <div class="row justify-content-center">
            <h3 class="col text-white text-center">Welcome, {{id}}</h3>
        </div>
        <div class="row justify-content-end">
            <div class="col-1">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-5">
                <div class="card border-primary rounded mb-5 bg-light">
                    <div class="card-header border-dark">
                        <h5 class="card-subtitle text-muted">Personal Details</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">Profile name</h1>
                        <div class="row">
                            <div class="col-md">
                                <p>Email: </p>
                                <p>Gender: </p>
                                <p>Date of Birth: </p>
                                <p>Health Card Number: </p>
                                <p>Phone Number: </p>
                            </div>
                            <div class="col-md">
                                <p>Address: </p>
                                <p>City: </p>
                                <p>Province:</p>
                                <p>Postal Code: </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-dark">
                        <div class="row justify-content-center">
                            <a href="/profile" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row p-3">
                    <button type="button" class="col btn btn-primary">Book an Appointment</button>
                </div>
                <div class="row p-3">
                    <button type="button" class="col btn btn-primary">Take a Self-Assessment</button>
                </div>
                <div class="row p-3">
                    <button type="button" class="col btn btn-primary">Request New Prescription</button>
                </div>
            </div>
            <div class="col">
                <div class="row p-3">
                    <button type="button" class="col btn btn-primary">View Appointments</button>
                </div>
                <div class="row p-3">
                    <button type="button" class="col btn btn-primary">View Prescriptions</button>
                </div>
            </div>
        </div>
        <div class="row p-3 justify-content-end">
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
</div>