<footer class="border-top border-secondary text-center text-lg-start bg-dark text-light">
  <div class="footer-text">
    <p>Placeholder Footer</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h6>MyCheckUp</h6>
        <a routerLink="/signin" routerLinkActive="active" class="nav-link text-light">Dashboard</a>
        <a routerLink="/" routerLinkActive="active" class="nav-link text-light">FAQ</a>
        <a routerLink="/" routerLinkActive="active" class="nav-link text-light">Support</a>
      </div>
      <div class="col">
        <h6>Useful Links</h6>
        <a routerLink="/" routerLinkActive="active" class="nav-link text-light">Useful Link 1</a>
        <a routerLink="/" routerLinkActive="active" class="nav-link text-light">Useful Link 2</a>
        <a routerLink="/" routerLinkActive="active" class="nav-link text-light">Useful Link 3</a>
      </div>
      <div class="col">
        <h6>Contact</h6>
        <p>Toronto, Ontario, Canada</p>
        <p>fake.email@fakewebsite.com</p>
        <p>+1 416-123-4567</p>
      </div>
    </div>
  </div>
</footer>
