<div class="bg-dark">
    <div class="text-light text-center">
        <div *ngIf="fail" class="alert alert-danger" role="alert">
            An error occured! {{message}}
        </div>
    </div>
    <form ngNativeValidate #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)" class="p-3" action="#" method="post">
        <div class="container">
            <div class="container">
                <p class="text-light">(*) Required Field</p>
                <div class="row">
                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="firstName"> First Name*</label> <br>
                            <input required ngModel name="firstName" class="form-control"
                                placeholder="Your first name here" #firstName="ngModel">
                           <!--  <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">First Name is
                                Required
                            </div> -->

                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="lastName"> Last Name*</label><br>
                            <input required ngModel name="lastName" type="text" class="form-control"
                                placeholder="Your last name here" #lastName="ngModel">
                            <!-- <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">Last Name is
                                Required</div> -->

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="email"> Email*</label><br>
                            <input required ngModel name="email" type="email" class="form-control"
                                placeholder="input valid email address" #email="ngModel">
                            <!-- <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is Required
                            </div> -->
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="license"> License Number*</label><br>
                            <input required ngModel name="license" type="number" class="form-control"
                                placeholder="Your license number here" #license="ngModel">
                            <!-- <div class="alert alert-danger" *ngIf="license.touched && license.invalid">License is
                                Required</div> -->

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="specialty"> Specialty* </label><br>
                            <input required ngModel name="specialty" type="text" class="form-control"
                                placeholder="Your specialty here" #specialty="ngModel">
                            <!-- <div class="alert alert-danger" *ngIf="specialty.touched && specialty.invalid">Specialty is
                                Required</div> -->
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="title"> Title* </label><br>
                            <input required ngModel name="title" type="text" class="form-control"
                                placeholder="Your title here" #title="ngModel">
                            <!-- <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is
                                Required</div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="phone"> Phone Number* (no hyphens)</label> <br>
                            <input required ngModel pattern="^^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$$"
                                name="phone" class="form-control" #phone="ngModel" type="number"
                                placeholder="Your phone number here">
                            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">A valid 10-12 digit
                                Phone number is Required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="password1"> Enter Password*</label><br>
                            <input required minlength="8" ngModel name="password1" type="password" class="form-control"
                                #password1="ngModel">
                            <div class="alert alert-danger" *ngIf="password1.touched && password1.invalid">
                                <!-- <div *ngIf="password1.hasError('required')">Password is Required</div> -->
                                <div *ngIf="password1.hasError('minlength')">Password should be minimum 8 characters
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-group text-light">
                            <label for="password2"> Confirm Password*</label><br>
                            <input required ngModel name="password2" type="password" class="form-control"
                                #password2="ngModel">
                            <div class="alert alert-danger"
                                *ngIf="password2.touched && password2.invalid && password2.hasError('required')">Confirm
                                Password is Required</div>
                            <div class="alert alert-danger" *ngIf="password2.touched && password2.value !== password1.value">
                                Passwords do not Match</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <button class="btn btn-success btn-lg btn-block text-center" type='submit'>Sign Up</button>
                    <button routerLink="/" type="button" class="cancelbtn btn-block btn-danger">Cancel</button>
                </div>
            </div>
            <br>
        </div>
        <div *ngIf="success" class="alert alert-success" role="alert">
            {{message}}
        </div>
    </form>
</div>