<div *ngIf="user" class="bg-dark">
    <div class="text-light text-center">
        <h2>Edit Profile</h2>

        <div *ngIf="fail" class="alert alert-danger" role="alert">
            An error occured! {{message}}
        </div>
    </div>
    <form ngNativeValidate #EditProfileForm="ngForm" (ngSubmit)="onSubmit(EditProfileForm)" class="p-3" action="#"
        method="post">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="form-group text-light">
                        <label for="firstName"> First Name</label> <br>
                        <input required ngModel name="firstName" class="form-control" [(ngModel)]="user.firstName"
                            #fName="ngModel" type="text" placeholder="Your first name here">
                        <!-- <div class="alert alert-danger" *ngIf="pName.touched && pName.invalid">First Name is Required
                        </div> -->
                    </div>

                    <div class="form-group text-light">
                        <label for="lastName"> Last Name</label> <br>
                        <input required ngModel name="lastName" class="form-control" [(ngModel)]="user.lastName"
                            #lName="ngModel" placeholder="Your last name here">
                        <!-- <div class="alert alert-danger" *ngIf="lName.touched && lName.invalid">Last Name is Required
                        </div> -->
                    </div>

                    <div class="form-group text-light">
                        <label for="email"> Email</label> <br>
                        <input required ngModel name="email" type="email" class="form-control" [(ngModel)]="user.email"
                            #email="ngModel" placeholder="Your email here">
                        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is Required
                        </div>
                    </div>

                    <div *ngIf="!user.gender" class="form-group text-light">
                        <label for="gender">Gender</label> <br>
                        <input type="radio" value="male" id="gender" name="gender"> Male <br>
                        <input type="radio" value="female" id="gender" name="gender"> Female <br>
                        <input type="radio" value="Other" id="gender" name="gender"> Other
                    </div>
                    <div *ngIf="user.gender === 'male'" class="form-group text-light">
                        <label for="gender">Gender</label> <br>
                        <input type="radio" value="male" id="gender" name="gender" checked> Male <br>
                        <input type="radio" value="female" id="gender" name="gender"> Female <br>
                        <input type="radio" value="Other" id="gender" name="gender"> Other
                    </div>
                    <div *ngIf="user.gender === 'female'" class="form-group text-light">
                        <label for="gender">Gender</label> <br>
                        <input type="radio" value="male" id="gender" name="gender"> Male <br>
                        <input type="radio" value="female" id="gender" name="gender" checked> Female <br>
                        <input type="radio" value="Other" id="gender" name="gender"> Other
                    </div>
                    <div *ngIf="user.gender === 'other'" class="form-group text-light">
                        <label for="gender">Gender</label> <br>
                        <input type="radio" value="male" id="gender" name="gender" checked> Male <br>
                        <input type="radio" value="female" id="gender" name="gender"> Female <br>
                        <input type="radio" value="Other" id="gender" name="gender" checked> Other
                    </div>

                    <div class="form-group text-light">
                        <label for="dateOfBirth"> Date of Birth </label> <br>
                        <input required ngModel name="dateOfBirth" type="date" class="form-control"
                            [(ngModel)]="user.dateOfBirth" #title="ngModel">
                        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">DOB is Required</div>
                    </div>

                    <div class="form-group text-light">
                        <label for="healthcare"> Health Card Number</label> <br>
                        <input required ngModel name="healthcard" class="form-control" [(ngModel)]="user.healthCardNum"
                            #healthcard="ngModel" placeholder="Your health card number here">
                        <div class="alert alert-danger" *ngIf="healthcard.touched && healthcard.invalid">Health card is
                            Required
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-group text-light">
                        <label for="phone"> Phone Number</label> <br>
                        <input required ngModel pattern="^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$"
                            [(ngModel)]="user.phoneNumber" name="phone" class="form-control" #phone="ngModel"
                            type="number" placeholder="Your phone number here">
                        <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">A valid 10-digit Phone
                            number is Required
                        </div>
                        <div *ngIf="phone.hasError('minlength')">Phone number should be minimum 10 characters</div>
                        <div *ngIf="phone.hasError('maxlength')">Phone number should be maximum 12 characters</div>
                    </div>

                    <div class="form-group text-light">
                        <label for="address"> Address</label> <br>
                        <input required ngModel name="address" [(ngModel)]="fullAddress[0]" class="form-control"
                            placeholder="Your street/apartment number here" #adress="ngModel">
                    </div>

                    <div class="form-group text-light">
                        <label for="city"> City</label> <br>
                        <input required ngModel name="city" [(ngModel)]="fullAddress[1]" class="form-control"
                            placeholder="Your city here" #city="ngModel">
                    </div>

                    <div class="form-group text-light">
                        <label for="province"> Province</label> <br>
                        <input required ngModel name="province" [(ngModel)]="fullAddress[2]" class="form-control"
                            placeholder="Your Province here" #province="ngModel">
                    </div>

                    <div class="form-group text-light">
                        <label for="pcode"> Postal Code (A1A1A1 / A1A 1A1)</label> <br>
                        <input required ngModel pattern="^(?!.*[DFIOQU])[A-VXY][0-9][A-Z] ?[0-9][A-Z][0-9]$"
                            name="pcode" [(ngModel)]="fullAddress[3]" class="form-control"
                            placeholder="Your Postal Code here" #pcode="ngModel">
                        <div class="alert alert-danger" *ngIf="pcode.touched && pcode.invalid">A valid postal code is
                            required
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="success" class="alert alert-success text-center" role="alert">
                {{message}}
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <button class="btn btn-success btn-lg btn-block text-center" type='submit'>Save Changes</button>
                    <button routerLink="/dashboard" type="button" class="cancelbtn btn-block btn-danger btn-lg">Cancel</button>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">

            </div>
        </div>
    </form>
</div>
<div *ngIf="errors === true">
    <app-sign-in></app-sign-in>
</div>